body {
  max-width: 80rem;
  height: 55rem;
  background-color: #00ffff;
  font-family: Helvetica, Arial, Courier, "Times New Roman";
  margin-left: 5em;
}
h1 {
  color: #0000ff;
  font-size: 200%;
}
h2 {
  color: #ff0000;
  font-size: 150%;
}
h3 {
  color: #000000;
  font-size: 125%;
}
caption {
  color: #003399;
  float: left;
  font-weight: bold;
  font-size: 135%;
}
th, td {
  max-width: 40%;
  border: 0.15em solid #000000;
  padding: 0.5em;
  margin: 0.5em;
}
tr:nth-child(even) {
  background-color: #ffffff;
}
tr:nth-child(odd) {
  background-color: #3399ff;
  color: #ffffff;
}
th {
  color: #ffffff;
  text-align: left;
  background-color: #3333ff;
}
tr:hover {
  font-weight: bold;
}
li {
  font-size: 125%;
  font-weight: bold;
}
footer {
  position: static;
  bottom: 0;
  /*width: 60%;
  height: 2.5rem;*/
}
.pmain {
  color: #003399;
  font-size: 140%;
}
.p2r {
  color: #ff0000;
  font-size: 125%;
}
.p2b {
  color: #0000ff;
  font-size: 125%;
}
.p2bk {
  color: #000000;
  font-size: 125%;
}
.linksz {
  font-size: 125%;
}
